@use "register";
@use "global" as *;
@use "dashbaord";
@use "balance";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  background-color: $bg;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  // display: flex;
  // align-items: stretch;
  // flex-direction: column;
  padding: 1rem;
  // padding-top: 5rem;
  // padding-bottom: 4rem;
  position: relative;
  color: $txt;
}

.tag {
  background-color: rgb(28, 29, 34);
  color: #fff;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: bold;
  margin: auto;
}
.warning {
  border: 1px solid rgba(247, 101, 2, 1);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin: auto;
  & > .heading {
    border-bottom: 1px solid rgba(247, 101, 2, 1);
    display: flex;
    width: 100%;
    & > h4 {
      // border-radius: 25px 0 0 0;
      padding: 0.5rem;
      color: #000000;
      background-color: #F76502;
      flex-grow: 1;
    }
    & > .pattern {
      flex-grow: 1;
      position: relative;
      background-image: url("/images/pattern.svg");
      width: 100px;
      // border-radius: 0 25px 0 0;
      & > button {
        background-color: #000000;
        // border-radius: 0 25px 0 0;
        border: none;
        position: absolute;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        height: 100%;
        top: 0;
        right: 1px;
        & > img {
          width: 25px;
        }
      }
    }
  }
  & > .message {
    background-color: #000000;
    color: #F76502;
    font-size: small;
    padding: 1rem 0;
  }
}

// nav style
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
nav > .nav-head a {
  color: #000;
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
nav > menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  font-size: large;
  font-weight: 600;
}
nav > menu ul > li {
  cursor: pointer;
}
nav > menu ul > li:hover {
  color: rgb(36, 127, 189);
  text-decoration: underline;
}


h2 {
  text-transform: uppercase;
  margin-top: 0.5rem;
  color: $heading;
}

.claim {
  background-color: rgba(172, 255, 47, 0.445);
  color: rgb(5, 99, 5);
  padding: 1rem;
}
.wallet {
  margin: 1rem auto;

  & > div {
    background: white;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 5px;
    max-width: 395px;
    height: 56px;
    border-radius: 1rem;
    border: 1px solid $border-color;

    & > input {
      outline: none;
      border: none;
      font-size: medium;
      height: 100%;
    }
  }
}
.payment {
  margin-top: 1rem;
  & > h3 {
    color: rgba(43, 43, 43, 0.692);
    text-transform: capitalize;
    font-size: larger;
  }
}
button.btn.btn-primary {
  background: #2e4e94;
  color: white;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  width: 150px;
  font-size: medium;

  &:active {
    transform: scale(0.96);
  }
}

p.label {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
}

.load {
  margin: 5px auto;
  width: 25px;
  height: 25px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  display: none;
}

// table styling
.table {
  width: 100%;
  margin-top: 1.5rem;
}

.thead > .tr,
.tbody > .tr {
  display: grid;
  grid-template-columns: 55px 1fr 100px;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.td {
  word-wrap: break-word;
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
}
.amount {
  flex-direction: column;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(50deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
