section.card-ATM
  .front
    .header
      .provider
        .icon
        p.name zepay
      .ID »» 45793
    .main
      p.balance 54.07 
        span.symbol USDT
    .footer
      p.expire 34 / 67
  .back