section.event 
    h1= title 
    p= detail 
    .container 
        .illustration
          img(src="/images/icons/noto--wrapped-gift.svg")
        h2= amount
        p= streak 
    .flex 
        .progress
            - for (let i = 0; i < claimed; i++)
                .bar.fill 
            - for (let i = 0; i < left; i++) 
                .bar 
        button.btn() claim