section.event 
    h1= title 
    p= detail 
    .container 
        .illustration 
        h2= amount
        p= streak 
    .flex 
        .progress 
            .bar.fill 
            .bar.fill 
            .bar.fill
            .bar 
            .bar 
            .bar 
            .bar 
        button.btn(onclick="dailyBonus()") claim