section.reward-receipt
  .receipt-card
    .reward-text
      | You've been rewarded 🥳
    .amount
      span.value 40.006
      span.currency USDT
    .fiat
      | ≈ NGN9
    .date-time
      | September 14, 2025 at 7:29 PM
    .from-box
      img.icon(src="/images/logo/logo.png" alt="MiniPay")
      span.from MiniPay
    button.receipt-btn Blockchain receipt