section.window
  .header 
    div
      span.ic--baseline-arrow-back(onclick="frameToggle('window')")
      h3 activity
    .reload(onclick="refreshFrame()")
      p R
  .page
    include ../components/page/page.pug
