section.window
  .header 
    div(onclick="frameToggle('window')")
      span.ic--baseline-arrow-back
      h3 activity
    .reload(onclick="refreshFrame()")
      p R
  .page
    include ../components/page/page.pug
