section.event-card
    .level 
        p LvL. 5
    article 
        .header 
            .icon 
            h3=event.title
        .content 
            p=event.detail
            button.btn(onclick="alert(`coming soon`)") get started
