extends layout

block content
    //- include ./components/nav/nav.pug

    .dashboard
        // h1.heading Dashboard
        .header
            div
                .profile
                    img(src="/images/profile/GbUg885TXyE8UZOr.png" alt="profile")
                p.subheading= user.username
            div
                .icon(onclick="frameToggle('window','notify')")
                    img(src="/images/icons/iconoir--app-notification.svg")

        .balance-box
            p total balance
            p.balance #{balance}$
            .cashback
              p 69
                span.hugeicons--cashback 
              p cashback saved 
                span.weui--arrow-outlined
            // include ./includes/card.pug

        // input.amount-input(type="number" name="amount" placeholder="Min. 0.001" style="display: none")

        // include ./components/nav/nav.pug

        // .action-buttons(style="display: nones")
        //     button.btn.deposit-btn(onclick="deposit()") Deposit
        //     button.btn.withdraw-btn(onclick="withdraw()") Withdraw

    h4 Events available (#{events.length})
    section.activities
        if isEventEmpty
            h2 No Events
        else
            each event in events
                include ./components/event.pug

    //- referral dashboard
    // include ./components/invite.pug

    each tab in tabs
        // include ./includes/tab.pug

    include ./includes/window.pug
    // include ./includes/referral.pug
    // include ./includes/transaction.pug
    // include ./signup.pug

    //- This is the bonus layout
    section.layout(class={ hide: isBonusSet })
        - var title = "daily bonus"
        - var detail = "claim a bonus every day"
        - var amount = userBonus.reward + " USDT"
        - var streak = userBonus.day + " / 7"
        - var claimed = userBonus.day
        - var left = 7 - userBonus.day
        include ./daily-bonus.pug

block script
    script(src="/javascripts/utility.js")