extends layout

block content 
    .dashboard
        h1.heading Dashboard
        p.subheading Welcome back, #{user.username}

        .balance-box
            span.balance-indicator
            span.balance-text Balance: 0.00001$

        input.amount-input(type="number", name="amount", placeholder="Min. 0.001")

        .action-buttons
            button.btn.deposit-btn
                |  Deposit
            button.btn.withdraw-btn
                |  Withdraw


