extends layout

block content 
    //- include ./components/nav/nav.pug
    .dashboard
        h1.heading Dashboard
        p.subheading Welcome back, #{user.username}

        .balance-box
          p
            span.balance-indicator
            | Wallet Balance 
          p #{balance}$

        input.amount-input(type="number" name="amount" placeholder="Min. 0.001" style="display: none")

        .action-buttons(style="display: noneu")
            button.btn.deposit-btn(onclick=`shareContent()`)
                |  Deposit
            button.btn.withdraw-btn(onclick=`copyToClipboard()`)
                |  Withdraw
    h4 Events available (#{events.length})
    section.activities

        if isEventEmpty
            h2 No Events
        else 
            each event in events
                include ./components/event.pug          
    //- referral dashboard
    include ./components/invite.pug

    //- This is the event layout
    section.layout(class={ hide: isBonusSet })
        - var title = "daily bonus"
        - var detail = "claim a bonus every day"
        - var amount = userBonus.reward + " USDT"
        - var streak = userBonus.day + " / 7"
        - var claimed = userBonus.day
        - var left = 7 - userBonus.day
        include ./includes/event.pug


block script 
    script(src="/javascripts/utility.js")