extends layout
block meta
  include ./includes/meta.pug
block content
    section.signup 
        if isSignup
          - var fields = [{ID: "firstName",type: "text",placeholder: "first-name"},{ID: "lastName", type: "text", placeholder: "last-name"},{ID:"username", type: "text", placeholder: "username"},{ID: "email", type: "email", placeholder: "email"},{ID: "password", type: "password", placeholder: "password", checker: "password"},{ID: "confirmPassword", type: "password", placeholder: "confirm-password"}]
          .register-card
            .header
              button.back-btn ←
              h1.title Register
              p.subtitle Create your account 
              // p Register with email connected to faucetPay.io 
              
              //- referral indicator
              .referral-indicator 
                p Invited by: 
                  span= invitee
                  
            form.register-form(action="" method="post")
              each field in fields
                include ./components/input.pug
              button.submit-btn(type="submit") Register 
            .login-link Already have an account? 
                a(href="/signin") Log in
        else
          - var fields = [{ID: "email", type: "email", placeholder: "email"},{ID: "password", type: "password", placeholder: "password", checker: "password"}]
            .register-card
              .header
                button.back-btn ←
                h1.title Sign in
                p.subtitle Welcome Back 
                    
              form.register-form(action="" method="post")
                each field in fields
                  include ./components/input.pug
                button.submit-btn(type="submit") Login
              .login-link
                | Don't have an account? 
                a(href="/register") Sign up
              

block script 
    script(src="/javascripts/register.js")
    script(src="/javascripts/input.js")


