section.signup
  .register-card
    .header
      button.back-btn ←
      h1.title Register
      p.subtitle Create your account
    form.register-form
      .form-group
        label(for="fullname") FullName
        input#fullname(type="text" placeholder="Enter your full name" value="Ferdinand Sinaga")
      .form-group
        label(for="email") Email
        input#email(type="email" placeholder="Enter your email" value="ferdinand@gmail.com")
      .form-group.password
        label(for="password") Password
        input#password(type="password" value="******")
        button.toggle-eye(type="button") 👁
      .form-group.password
        label(for="repeat-password") Repeat Password
        input#repeat-password(type="password" value="******")
        button.toggle-eye(type="button") 👁
      button.submit-btn(type="submit") Register
    .login-link
      | I have an account ? 
      a(href="/login") Log in