.warning 
    .heading 
        h4 WARNING!!!
        .pattern 
            button 
                img(src="/images/x.svg", alt="close button")
    .message 
        p If you don't already have a FaucetPay account, please register now using the link below: 
            a(href="https://faucetpay.io/?r=5207963") faucetpay.io